

{% extends 'stock_app/layout.html' %}

{% load static %}
{% load social_share %}
{% block title %}Home {% endblock %}

{% block body %}
    <div class="bg-model">
        <div class="model-content">
            <div class="close">+</div>
            <h1>Upload Image</h1>
            {% if user.is_authenticated %}
                <div class="img-form">
                    <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data" class="form-group">
                        {% csrf_token %}
                        <label for="title">Title *</label>
                        <!-- <div class="form-control"> -->
                            {{i_form.title }}
                        <!-- </div> -->
                        <label for="location">location</label>
                        <!-- <div class="form-control"> -->
                            {{i_form.location }}
                        <!-- </div> -->

                        <label for="description">Description *</label>
                        <!-- <div class="form-control"> -->
                            {{i_form.description }}
                        <!-- </div> -->
                        
                        <div>
                            
                            {{i_form.url}}
                            
                            
                        </div>
                        
                        <div style="margin-bottom: 2px;"></div>
                        <input type="Submit" class="btn btn-primary">
                    </form>
                </div>
            {% else %}
                <div class="sorry">Sorry! You have to <a href="{% url 'login' %}">login</a>. 😔</div>
            {% endif %}
            
        </div>
    </div>
    <!-- <div class="bg-model-1">
        <div class="model-content-1">
            <div class="close-1">+</div>
            <h1>Upload Image</h1>
            {% if user.is_authenticated %}
                <div class="img-form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{c_form}}
                        <div style="margin-bottom: 5px;"></div>
                        <input type="Submit" class="btn btn-primary">
                    </form>
                </div>
            {% else %}
                <div class="sorry">Sorry! You have to <a href="{% url 'login' %}" class="btn btn-danger">login</a>. 😔</div>
            {% endif %}
            
        </div>
    </div> -->
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}" class="btn btn-danger">login</a>
    {% else %}
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    {% endif %}
    <h1>Home {{user}}</h1>
    <div class="search">
        <form action="{% url 'search' %}" method="GET" class="form-inline form-group">
            {% csrf_token %} 
            <input type="text" name = "q" placeholder="Type Here ..." class="form-control text-form" required>
            <input type="Submit" value="Search" class="btn btn-dark submit-btn">
        </form>
    </div>
    <button class="btn btn-light" id="image-upload">Add Image</button>
    Categories <a href="{% url 'cat' %}" class="btn btn-light" id="add-category">+</a>
    {% for i in categories %}
        <a href="{% url 'cat' %}" class="btn btn-light" id="add-category">{{ i.name }}</a>
    {% endfor %}

    <br>
    <div class="bg-model-5">
        <div class="model-content-5">
            <a href="{% url 'index' %}" style="color:black;"><div class="close-5">+</div></a>
            <h1>{{photo.title}}</h1>
            
            <div class="img-form">
                <img src="{{ photo.url.url }}" alt="Sorry! Image not found" height="200px" width="300px">
                <br>
                {% if photo.location %}
                    <i class="fa fa-map-marker" aria-hidden="true"></i>{{photo.location}}
                {% endif %}<br>
                {{photo.description}}{{like.id}}
                <br>
                <p style="color:red">Posted by: {{photo.user}}</p>
                
                {% if user.is_authenticated %}
                <div class="pr-2">
                    <span class="" id="like_count">{{photo.like_count}}</span>
                    {% if user in photo.liked %}
                    <button class="btn btn-link text-danger p-0 border-0 btn-outline-light" id="like-button" value="{{photo.id}}">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                      </button>
                    {% else %} 
                    <button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="like-button" value="{{photo.id}}">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                      </button>
                    {% endif %}
                  </div>
                {% else %}
                    <button class = "btn btn-sm disabled"><i class="fa fa-heart-o" aria-hidden="true" style="color: red;"></i></button>
                    
                {% endif %}
                <a href="{{ i.url.url }}" download class="btn btn-light"><i class="fa fa-download" aria-hidden="true"></i></a>
                <br>
                
                {% post_to_twitter "{{photo.title}}. Check it out!" object_or_url "Twitter" %} 
                {% if user == photo.user %}
                    <a class="btn btn-primary" href="{% url 'update' photo.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'delete' photo.id %}">Delete</a>
                {% endif %}
                
            </div>

        </div>
    </div> 
    {% for i in images %}
        <img src="{{ i.url.url }}" alt="Sorry! Image not found" height="400px" width="600px" id="image-detail">
        <div class="bg-model-1">
            <div class="model-content-1">
                <div class="close-1">+</div>
                <h1>Upload Image</h1>
                
                <div class="img-form">
                    {{i.title}}<br>
                    {% if i.location %}
                        {{i.location}}
                    {% endif %}<br>
                    {{i.description}}<br>
                    <img src="{{ i.url.url }}" alt="Sorry! Image not found" height="200px" width="300px">
                    
                    <br>
                    <br>
                    {% if user.is_authenticated %}
                        
                        <button class = "btn btn-sm btn-danger add-wishlist" data-product = "{{ i.id }}"><i class="fa fa-heart" aria-hidden="true"></i></button>
                        <!-- {{ checkw }} -->
                    {% else %}
                        <button class = "btn btn-sm btn-danger disabled"><i class="fa fa-heart" aria-hidden="true"></i></button>
                        <!-- {{ checkw }} -->
                    {% endif %}
                    <a href="{{ i.url.url }}" download class="btn btn-light"><i class="fa fa-download" aria-hidden="true"></i></a>
                    <a href="{% url 'shared' id=i.id %}"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                    
                </div>

            </div>
        </div> 
    {% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'stock_app/action.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'stock_app/dropify/js/dropify.min.js' %}"></script>
    <script src="{% static 'stock_app/dropify/js/dropify.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           $('.dropify').dropify();
       });

    $(document).on('click', '#like-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "like" %}',
      data: {
        image_id: $('#like-button').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("like_count").innerHTML = json['result']
        // document.getElementById("like_button").innerHTML = 
      },
      error: function (xhr, errmsg, err) {

      }
    });
  })
   </script>
    
{% endblock %}