{% extends 'stock_app/layout.html' %}

{% block body %}
    {% if validlink %}
        <div style="margin: 15% 30% 0% 35%; border-top-right-radius: 10px; border-top-left-radius: 10px;" class="border border-primary">
            <div class="text text-light border" style="background-color: rgb(0, 162, 255); border-top-right-radius: 10px; border-top-left-radius: 10px;">
                <h2 style="text-align: center;">Reset Password</h2>
            </div>

        <!-- {% if message %}
            <div class="text-danger">{{ message }}</div>
        {% endif %} -->
            <div style="margin: 10px 10px 10px 10px;">
                <form  method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>New Password</label>
                        <input autofocus class="form-control" type="password" name="password" placeholder="New Password" required>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input autofocus class="form-control" type="password" name="conform-password" placeholder="Confirm Password" required>
                    </div>
                    <div style="margin-top: 1rem;"></div>
                    <input type="Submit" class="btn btn-primary">
                </form>
           

            </div>
        </div>
    {% else %} 
        <h3>Sorry, the link wasn't valid!</h3>
        <h3>{{ uidb64 }}</h3>
        <h3>{{ uid }}</h3>
        <h3>{{ user_ob }}</h3>
        <h3>{{ token }}</h3>
    {% endif %}
{% endblock %}