{% extends 'stock_app/layout.html' %}
{% load social_share %}
{% load static %}


{% block body %} 
<div class="bg-model-5">
    <div class="model-content-5">
        <a href="{% url 'index' %}" style="color:black;"><div class="close">+</div></a>
        <h1>Edit Image</h1>
        {% if user.is_authenticated %}
            <div class="img-form">
                <form action="" method="POST" enctype="multipart/form-data" class="form-group">
                    {% csrf_token %}
                    {{form}}
                    <div style="margin-bottom: 2px;"></div>
                    <input type="Submit" value="Update" class="btn btn-primary">
                </form>
            </div>
        {% else %}
            <div class="sorry">Sorry! You have to <a href="{% url 'login' %}">login</a>. 😔</div>
        {% endif %}
        
    </div>
</div>

{% if not user.is_authenticated %}
<a href="{% url 'login' %}" class="btn btn-danger">login</a>
{% else %}
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
{% endif %}
<h1>Home {{user}}</h1>
<div class="search">
    <form action="{% url 'search' %}" method="GET" class="form-inline form-group">
        {% csrf_token %} 
        <input type="text" name = "q" placeholder="Type Here ..." class="form-control text-form" required>
        <input type="Submit" value="Search" class="btn btn-dark submit-btn">
    </form>
</div>
<button class="btn btn-light" id="image-upload">Add Image</button>
Categories <a href="{% url 'cat' %}" class="btn btn-light" id="add-category">+</a>
{% for i in categories %}
    <a href="{% url 'cat' %}" class="btn btn-light" id="add-category">{{ i.name }}</a>
{% endfor %}

<br>
{% for i in images %}
    <a href="{% url 'shared' id=i.id %}"><img src="{{ i.url.url }}" alt="Sorry! Image not found" height="400px" width="600px" id="image-detail"></a>
{% endfor %}

{% endblock %}

{% block script %} 

<script src="{% static 'stock_app/action.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'stock_app/dropify/js/dropify.min.js' %}"></script>
    <script src="{% static 'stock_app/dropify/js/dropify.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           $('.dropify').dropify();
       });
    </script>

{% endblock %}